
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
}

main{
    background-color: var(--white);
    max-width: calc(375px - 5.5rem);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 20px;
}

img{
    width: 290px;
    height: 290px;
    border-radius: 15px;
}

.div-texts{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text-1{
    font-size: 2.2rem;
    text-align: center;
    color: var(--dark-blue);
    font-weight: 700;
}

.text-2{
    font-size: 1.6rem;
    text-align: center;
    color: var(--grayish-blue);
    margin-bottom: 2rem;
}

footer{
    font-size: 11px; 
    text-align: center;
}

footer a{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

footer a:hover{
    color:hsl(228, 79%, 55%)
}